/recycling
/Data
/Notebooks/start_1.ipynb
/Notebooks/alternative_version_not_so_good.ipynb
/Notebooks/functions_processing_input.ipynb
/requirements.in
/requirements-dev.in
/app/images
/app/counter.csv